<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs") %>


  <body>
    <%- include("../partials/header.ejs") %>
      
    <main style="height: 100vh; background-color: rgba(255, 0, 0, 0.562); display: flex; justify-content: center; align-items: center; margin: 2rem;">
      <h1 style="background-color: rgba(0, 0, 0, 0.692); color: white; border-radius: 2rem; height: 5rem; display: flex; justify-content: center; align-items: center; padding: 2rem;">El carrito de compras está incompleto, por ahora es solo un Template</h1>
    </main>

      <%- include("../partials/footer.ejs") %>

  </body>

</html>